# Environments - common names for virtual environments and environment files
.venv
env/
ENV/
env.bak/
venv.bak/

# Ignore virtual environment
tableau-fastapi-venv/

# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/

# Ignore log files
*.log

# Ignore data files
*.hyper

# Ignore the entire docs folder and all files in it
docs/

# Ignore requirements file
requirements.txt

# Ignore notebook files
docs/tableau_authentication_notes.ipynb
docs/synergies_notes.ipynb

# Ignore Tableau hackathon rules file
docs/tableau-hackathon-rules.md
